{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>PHPJabbers.com | Free Book Online Store Website Template</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
              {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{message.tags}}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="fa fa-book"></span> <span class="title">Book Online Store Website</span>
								</a>

							<!-- Nav -->
								<nav id="menu">
						<h2>Menu</h2>
						{% if user.id is not None %}
						<h2>{{ user.first_name }}</h2>
						<a href="{% url 'userprofile'%}" ><img src="{{ request.session.userimage }}" style="border-radius: 50%; hight: 90px; width: 90px"></a><br>

						<li><a href="/userprofile/">My Profile</a></li>
				        <ul>
						<li><a href="/logout_form/">logout</a></li>
						</ul>
					
		                
						{% else %}
                        <h2><a href="{% url 'login' %}">Login/Signup</a></h2>
						{% endif %}
						<ul>
							<li><a href="{% url 'home' %}" class="active">Home</a></li>

							<li><a href="{% url 'product' %}">Products</a></li>
                             
							
							<li><a href="{% url 'shopcart' %}">shopcart</a></li>
                            <li><a href="/signup_form/">SignUp</a></li>
							<li>
								<a href="#" class="dropdown-toggle">About</a>

								<ul>
									<li><a href="{% url 'about' %}">About Us</a></li>
									<li><a href="{% url 'blog' %}">Blog</a></li>
									<li><a href="{% url 'testimonials' %}">Testimonials</a></li>
									
									<li><a href="{% url 'terms'%}">Terms</a></li>
									
								</ul>
							</li>

							<li><a href="{% url 'contact' %}">Contact Us</a></li>
						</ul>
					</nav>


				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Contact Us</h1>
							<span class="image main"><img src="{% static 'images/map.jpg' %}" alt="" /></span>
							<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique.</p>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Contact Us</h2>

								

								<form method="post">
								    {% csrf_token %}
								{{ form }}

											<ul class="actions">
												<li><input type="submit" value="Send Message" class="primary" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
							<section>
								<h2>Contact Info</h2>

								<ul class="alt">
									<li><span class="fa fa-envelope-o"></span> <a href="#">contact@company.com</a></li>
									<li><span class="fa fa-phone"></span> +91 7777777777 </li>
									<li><span class="fa fa-map-pin"></span>2-B/110/1201,Excellency, 4th Cross Road, Lokhandwala, Complex, Andheri West, Mumbai 400058, India</li>
								</ul>

								<h2>Follow Us</h2>

								<ul class="icons">
									<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
								</ul>
							</section>

							<ul class="copyright">
								<li>Company Name </li>
								
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>